* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
 }
 
 
 
 html, body {
    height: 100%;
 }
 
 body {
    background: rgb(255, 255, 255);
 }
 
 .card {
    position: static;
    background: #fff;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0px 0px 30px 2px #000;
 }
    .card .header {
       background: rgb(0, 0, 0);
       background-size: cover;
       min-height: 240px;
    }
 
    .image {
    min-height: 240px;
    max-width: 100%;
    }
 
 
    /* .botoncito-fav{
       display: flex;
       height: 50px;
       width: 50px;
       background-color: transparent;
       border-color: transparent;
       position: absolute;
    } */
    
    .corazoncito-fav{
       display: flex;
       height: 30px;
       width: 40px;
       border-radius: 15px;
       background-color: rgb(106, 104, 104);
       border-color: transparent;
       position: absolute;
       margin-left: 350px;
       margin-top: 5px;
       cursor: pointer;
    }

    .corazoncito-fav:hover{
      background-color: rgb(109, 51, 255);
   }

   .corazoncito-fav:active{
      background-color: rgb(109, 51, 255);
      box-shadow: 0 5px rgb(45, 1, 72);
      transform: translateY(4px);
   }
 
   
    
       .text .title {
          color: #212129;
          font-family: fantasy;
          font-size: 26px;
          text-align: left;
          font-weight: normal;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          margin: 5px 30px;
       }
       .text .genre {
          color: #9B9B9B;
          margin: 0 30px;
       }
       .text .platform {
          color: #9B9B9B;
       }
 
       a.btnD {
          width: 398px;
          margin-top: 10px;
          display: block;
          background: #212121;;
          position: static;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          text-align: center;
          padding: 10px;
          transition: 250ms;
          font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  
    .text a.btnD:hover {
      background: #f80800;
      transition: 550ms;
    }

    @media screen and (max-width: 600px){
      .corazoncito-fav{
         margin-left: 317px;
      }
      a.btnD{
         width: 358px;
      }
   }

   /* @media screen and (max-width: 400px){
      .corazoncito-fav{
         margin-left: 285px;
      }
      a.btnD{
         width: 325px;
      }
   } */